@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-slate-100 text-slate-800 antialiased;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: theme("colors.brand.50");
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.brand.200");
  border-radius: 9999px;
}
